//Width Constant
min-width = 350px
max-width = 500px

.card
  .top-left
    font-size 20px

  .top-right
    float right
    text-decoration blink
    font-size 15px

  .bottom
    margin-top 13px
    line-height 12px

  .bottom-left
    font-size 15px

  .bottom-right
    float right
    text-decoration blink

.page
  width 100%
  max-width max-width*2
  margin 0 auto

  .main
    min-width min-width
    max-width max-width
    margin 0 auto
    padding-top 0

.lite-page
  width 100%
  max-width max-width
  margin 0 auto